body {
    background-color: #f9f9fc;
    font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar for Sidebar */
.custom-scroll::-webkit-scrollbar {
    width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #1c212c;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #2d3548;
    border-radius: 5px;
}